<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet"> -->
<link rel="preload" type="font/woff2" href="{{ "veb8fonts/u5.woff2" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/woff" href="{{ "veb8fonts/u5.woff" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/ttf" href="{{ "veb8fonts/u5.ttf" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/woff2" href="{{ "veb8fonts/u5cdot.woff2" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/woff" href="{{ "veb8fonts/u5cdot.woff" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/ttf" href="{{ "veb8fonts/u5cdot.ttf" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/woff2" href="{{ "veb8fonts/HinDi.woff2" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/woff" href="{{ "veb8fonts/HinDi.woff" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/ttf" href="{{ "veb8fonts/HinDi.ttf" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/woff2" href="{{ "veb8fonts/Hnskrit.woff2" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/woff" href="{{ "veb8fonts/Hnskrit.woff" | relURL }}" as="font" crossorigin>
<link rel="preload" type="font/ttf" href="{{ "veb8fonts/Hnskrit.ttf" | relURL }}" as="font" crossorigin>
