<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li>
    <select id="fontselectidmobile">
      <option value="u5" selected>INglis1</option>
      <option value="u5cdot" selected>INglis2</option>
      <option value="HinDi">HinDi1</option>
      <option value="Hnskrit">HinDi2</option>
    </select>
    </li>    
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
      <a href="{{ .URL }}">
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
  </ul>
</div>
